---
import PageLayout from '@/layouts/BaseLayout.astro'
import ToolSection from '@/components/ToolSection.astro'
import Button from '@/components/Button.astro'
import { Icon } from 'astro-icon/components'
---

<PageLayout meta={{ title: '归档' }}>
	<div class='w-full'>
		<Button title='Back' href='/' style='button'>
			<Icon width='14' height='14' slot='icon-before' name='arrow-left-line' />
		</Button>

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<div>
				<h1 class='mb-1 text-2xl font-bold'>归档</h1>
			</div>
		</div>
	</div>
</PageLayout>
